<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>to do list</title>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app">
      <h1 v-html="title"></h1>
      <form action="" id="note">
        <input
          type="text"
          id="note__box"
          placeholder="
        add your notes"
          v-model="value"
        />
        <button type="submit" id="note__submit" @click="checkBox($event)">
          <i class="far fa-plus-square"></i>
        </button>
      </form>
      <ul class="list">
        <div
          class="note__parent"
          v-for="note in notesList"
          @click="getClickElement($event)"
        >
          <li class="note__list">{{note}}</li>
          <div class="icon__parent">
            <button type="button" class="remove__icon" @click="checkRemove">
              <i class="far fa-trash-alt"></i>
            </button>
            <button type="button" class="done__icon" @click="doneNote">
              <i class="far fa-check-square"></i>
            </button>
          </div>
        </div>
      </ul>
    </div>
    <script src="app.js"></script>
  </body>
</html>
