body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checks {
  display: flex;
}
.textarea {
  display: flex;
  justify-content: center;
}
#textarea {
  margin: 0 auto;
}
.card {
  margin: 10px;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
